.popular_component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    width: 1353px;
    margin: 12px 0px 0px 91px;
}

.popular_component_h1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.005em;
    color: #F9F9F9;
}