.popular_components_movielist{
    display: flex;
    gap: 39px;
    align-items: center;
    overflow: hidden;
    width: 1320px;
}

.popular_components_movielist_item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.popular_components_movielist_item:first-child{
    padding-right: 10px;
}

.popular_components_movielist_item_h1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    color: #F9F9F9;
}

.popular_components_movielist_item_img img {
    width: 107px;
    height: 128px;
    border-radius: 16px;
}

.popular_components_movielist_item_title_desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 173px;
    height: 128px;
}

.popular_components_movielist_item_title_desc_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
    width: 58px;
    height: 28px;
    border: 1px solid #28262D;
    border-radius: 8px;
}

.popular_components_movielist_item_title_desc_btn_p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #D1D8DD;
}

.popular_components_movielist_item_title_desc_h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #F9F9F9;
}

.popular_components_movielist_item_title_desc_films {
    max-width: 173px;
    width: 100%;
    display: flex;
    gap: 4px;
}

.popular_components_movielist_item_title_desc_films p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #78828A;
}

.popular_components_movielist_item_title_desc_stars {
    gap: 4px;
    display: flex;
    justify-content: start;
}

.popular_components_movielist_item_title_desc_stars h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #F9F9F9;
}

.popular_components_movielist_item_title_desc_stars h4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #78828A;
}