.hero_component_left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero_component_left_p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    width: 69px;
    height: 28px;
    background: #0D0C0F;
    border-radius: 16px;
    color: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.005em;
}

.hero_component_left_desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero_component_left_title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.hero_component_left_date {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #9CA4AB;
}

.hero_component_left_buttons{
    display: flex;
    gap: 24px;
}

.hero_component_left_buttons_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    width: 215px;
    height: 46px;
    background: #00925D;
    border-radius: 10px;
}

.hero_component_left_buttons_1 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #F9F9F9;
}

.hero_component_left_buttons_2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 180px;
    height: 46px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.hero_component_left_buttons_2 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}