.continue-watching_components {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 25px;
}

.continue-watching_components h1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.005em;
    color: #F9F9F9;
}

.continue-watching_components_streamlist {
    height: 312px;
    display: flex;
    justify-content: start;
    gap: 18px;
}

.continue-watching_components_streamlist_item {
    background-image: url('../../assets//images//Image\ \(20\).png');
    Width: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 0px 0px 16px 16px;
}

.continue-watching_components_streamlist_item:nth-child(2) {
    background-image: url('../../assets/images/Image\ \(21\).png');
}

.continue-watching_components_streamlist_item:last-child {
    background-image: url('../../assets/images/Image\ \(22\).png');
}

.continue-watching_components_streamlist_item_desc_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px 13px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 78.02%);
    border-radius: 0px 0px 16px 16px;
    overflow: hidden;
}

.continue-watching_components_streamlist_item_desc_component {
    width: 381.03px;
    height: 79px;
}

.continue-watching_components_streamlist_item_desc_component h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #F9F9F9;
}

.continue-watching_components_streamlist_item_desc_component p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #78828A;
    padding: 8px 0;
}

.continue-watching_components_streamlist_item_desc_component_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.continue-watching_components_streamlist_item_desc_component_block span:first-child {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #D1D8DD;
}

.continue-watching_components_streamlist_item_desc_component_block span:last-child {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #D1D8DD;
}

.continue-watching_components_streamlist_item_desc_component_block span:nth-child(2) {
    width: 263.03px;
    height: 3px;
    background-color: #1F1E1E;
    opacity: 0.12;
    border: 3px solid  #949393;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.continue-watching_components_streamlist_item_desc_component_block span:nth-child(2)::after {
    position: absolute;
    content: '';
    top: -3px;
    left: -3px;
    width: 121.81px;
    border: 3px solid #0afb8c;
     border-radius: 10px;
     z-index: 999;
}

.continue-watching_components_streamlist_item_desc_component_block span .green {
 position: absolute;
 width: 12px;
 height: 12px;
 border-radius: 50%;
 border: 1px solid #0afb8c;
 background-color: #0afb8c;
 left: 115px;
 top: -5px;
}