.movie-information-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 114px 40px 117px;
    margin: 0 auto;
    width: 1352px;
    width: 100%;
}