.similar-movies_container {
    margin: 0 auto;
    width: 1290px;
    display: flex;
    padding: 38px 3px 42px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.similar-movies_component_title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.005em;
    color: #F9F9F9;
}

.similar-movies_component{
    width: 1200px;
}