@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@200;300;400;500;600;700&family=Manrope:wght@700&family=Montserrat:wght@200;300;400;500;700;800&family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@200;300;400;500;600;700&family=Manrope:wght@700&family=Montserrat:wght@200;300;400;500;700;800&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@200;300;400;500;600;700&family=Lato:wght@700;900&family=Manrope:wght@700&family=Montserrat:wght@200;300;400;500;700;800&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:#0D0C0F;
}
