.header-navbar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 41px 0px 35px 77px;
    gap: 270px;
    width: 100%;
}
.header-navigation_component_items_ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32.6px;
    width: 445px;
}

.header-navigation_component_items_ul_li {
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.header-navigation_component_items_ul_li:first-child{
    font-weight: 800;
}
.header-button_component {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 23px;
    width: 153px;
}

.header-button_component_avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-left: 6px;
}